* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(43, 51, 55, 0.292);
}
.wrapper {
  /* height: 70px; */
  padding: 0 20px;
  max-width: 100%;
  display: flex;
  padding: 1rem;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.search-form {
  position: absolute;
}
input {
  margin-right: 20px;
  border: none;
  border-radius: 4px;
  width: 350px;
  height: 40px;
  padding: 20px 15px;
  font-size: 18px;
  display: inline-flex;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(111, 198, 239, 0.497);
}
input:hover,
input:focus {
  outline: none;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(111, 198, 239, 0.579);
}
.btn {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 11px 25px;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(111, 198, 239, 0.579);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s;
}
.btn:hover,
.btn:focus {
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  background-color: rgba(97, 172, 207, 0.579);
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.gallery__image {
}
