* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: rgba(43, 51, 55, 0.292);
}

.wrapper {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  display: flex;
  z-index: 2;
  background-color: rgba(43, 51, 55, 0.5);
}
.search-form {
  position: fixed;
  top: 5%;
}
input {
  margin-right: 20px;
  border: none;
  border-radius: 4px;
  width: 350px;
  height: 40px;
  font-size: 18px;
  display: inline-flex;
  padding-left: 15px;
}
input:hover,
input:focus {
  outline: none;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 45px rgba(111, 198, 239, 0.479);
}
.btn {
  padding: 11px 25px;

  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(111, 198, 239, 0.9);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s;
}
.btn:hover,
.btn:focus {
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  background-color: rgba(110, 185, 221, 0.862);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.photo-card {
  width: calc((100% - 120px) / 3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.67);
}
.gallery__image {
  /* display: block;
  width: 100%;
  object-fit: cover; */
}
.info {
  margin: 10px;
}
